modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
JWT_SECRET = "halal-tech-erp-f8561b273ce0b52c89552ca3ae69e90deebe340b88e4992d344eff46fdd9806a"
JWT_REFRESH_SECRET = "decbf20d7d6ee54a2b174e02ad25e0ff626b3fef804185b3a50f273dae78051e722647600a306c9289b3c44be3780359"
TOTP_ENCRYPTION_KEY = "2e28db5ebb91553c7e5f7866410cabde"
SUPER_ADMIN_PIN = "693014"
DEFAULT_ADMIN_PIN = "202576"
